[submodule "vim/.vim/bundle/vim-endwise"]
	path = vim/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/.vim/bundle/vim-slime"]
	path = vim/.vim/bundle/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "vim/.vim/bundle/emmet-vim"]
	path = vim/.vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/.vim/bundle/vim-flow"]
	path = vim/.vim/bundle/vim-flow
	url = https://github.com/flowtype/vim-flow.git
[submodule "vim/.vim/bundle/neocomplete"]
	path = vim/.vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "ruby/rbenv"]
	path = ruby/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "ruby/rbenv-plugins/ruby-build"]
	path = ruby/rbenv-plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "ruby/rbenv-plugins/bundler"]
	path = ruby/rbenv-plugins/bundler
	url = https://github.com/carsomyr/rbenv-bundler.git
